/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.button {
  background-color: white;
  padding: 10px 20px;
  /*border-radius: 10px;*/
  border: none;
  appearance: none;
  font-size: 1.3rem;

  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 1;
}

.buttonAlt {
  background-color: white;
  padding: 10px 20px;
  /*border-radius: 10px;*/
  border: none;
  appearance: none;
  font-size: 1.3rem;

  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 1;
}
.buttonAlt:hover {
  /*border-color:#1ca7d6 ;*/
  /*opacity: 1;*/
  outline-color:#1ca7d6 ;
}

.buttonAlt:focus, .buttonAlt:focus-visible{
  border-style:solid;
  border-color:#1ca7d6;
}

.button:hover {
  transform: scale(1.02);
  /*border-color:#1ca7d6 ;*/
  /*opacity: 1;*/
  outline-color:#1ca7d6 ;
}

.iconMenu{
  background-color:#e0e0e0;
}



.iconMenu:hover{
  background-color: rgba(0, 120, 215, 0.3);
}
.boldSpan{font-size: 20px; font-weight: bold}
.iconMenu:focus, .iconMenu:focus-visible{
  background-color: #0078d7;
}


input:focus, textarea:focus{
  outline-color:#1ca7d6 ;
}

select:focus{outline-color: #1ca7d6}

.button:focus, .button:focus-visible{
  transform: scale(1.02);
  border-style:solid;
  border-color:#1ca7d6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
