<!DOCTYPE html>
<html style='height: 100%'>
<head>
  <meta charSet="utf-8" />
  <meta
          http-equiv="Content-Security-Policy"
          content="script-src 'self' 'unsafe-inline'"
  />
  <title>Final Fantasy V Editor</title>
</head>
<style>
  img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
</style>
<body  style='height: 100%; display: block; margin-left: 0; color: unset'>
<div id="root"></div>
</body>
</html>
